.video-page {
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.video-page-body {
  background-color: transparent !important;
}

.media-fullscreen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
